.wrapper {
  padding: 2rem;
  border: 1px solid rgb(181, 186, 196);
  border-radius: 16px;
  position: relative;
  z-index: 1080;
}
.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left_title {
  display: flex;
  align-items: center;
}
.left_side {
  flex: 1;
}
.left_side .icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgba(249, 113, 52, 0.2);
}
.left_side svg {
  display: inline;
  vertical-align: middle;
}
.right_side .list {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(246, 247, 248, 0.7);
  border-radius: 10px;
  padding: 0px 10px;
  align-self: flex-start;
}
.iteam {
  flex-basis: auto;
  margin: 16px 20px;
}
