:root {
  --border-color: #dedede;
  --hover-color: rgb(78, 202, 192);
  --link-color: rgb(0, 164, 166);
  --light-color: #fff;
  --dark-color: #000;
  --btn-color: #5e5e5e;
  --box-color: #d7efef;
}
