.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-right: 10px;
  margin-bottom: 20px;
}
.btn {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  height: 35px;
  width: 35px;
  cursor: pointer;
}
