.wrapper {
  background-color: var(--light-color);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 1010;
}
.divider {
  align-items: center;
  display: flex;
}
.divider h3 {
  font-size: 16px;
  font-weight: 565;
  line-height: 24px;
}

.list {
  align-items: center;
  display: flex;
  padding-left: 150px;
}
.list li {
  padding: 20px;
  height: 100%;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.list li:nth-child(2) {
  border-bottom: 2px solid black;
  margin: 0 20px;
}
.list li:hover {
  border-bottom: 2px solid black;
}
.list li a {
  color: var(--dark-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 565;
}
.list li a svg {
  vertical-align: middle;
  margin-left: 2px;
  margin-top: 5px;
}
.last:hover .svg_icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease; /* Smooth transition */
}
.last:hover {
  .drop_down {
    display: flex;
  }
}

/* Drop Down  */

.drop_down {
  display: none;
  flex-direction: column;
  text-align: start;
  padding: 0 24px;
  background-color: var(--light-color);
  border-radius: 8px;
  position: absolute;
  margin-top: 1rem;
  margin-left: -30px;
  text-align: start;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.drop_down li {
  padding: 1rem 0.5rem !important;
  display: block;
  cursor: pointer;
  margin: 0;
  border: 2px solid transparent !important;
}
.drop_down li:nth-child(2) {
  margin: 0 !important;
  border: 2px solid transparent !important;
}
.drop_down li a {
  color: var(--dark-color);
  font-size: 16px;
  line-height: 24px;
}
.drop_down li a:hover {
  text-decoration: underline;
}
