.list {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  gap: 24px;
}
.list li a {
  color: var(--dark-color);
}
.list a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}
@media screen and (max-width: 1500px) {
  .list{
    gap: 15px;
  }
}