.slide {
  background-color: #edeff1;
  padding: 27px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  height: 600px;
  width: 100%;
  max-width: 18.5vw;
}
.img .img_1 {
  height: 350px;
  width: 350px;
}
.img .img_2 {
  height: 300px;
  width: 280px;
}
.wrapper h4 {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  margin: 10px 0;
}
.wrapper a {
  color: var(--dark-color);
  font-weight: 600;
}

.slide_1 {
  background-color: #f2f0ed;
  padding: 27px;
  border-radius: 12px;
  display: flex;
  align-items: start;
  cursor: pointer;
  width: 100%;
  max-width: 35vw;
  height: 600px;
}
.slide_1 p {
  font-size: 15px;
  margin-bottom: 10px;
}
.slide_1 .slide_text {
  align-self: center;
}
.wrapper span {
  background-color: var(--hover-color);
  font-size: small;
  padding: 4px 8px;
  font-weight: 500;
  letter-spacing: 3px;
}
.img {
  align-self: center;
}
@media screen and (max-width: 1500px) {
  /* .slide_1 {
    width: 100%;
    max-width: 32vw;
    height: 400px;
  }
  .slide {
    height: 400px;
    width: 100%;
    max-width: 15vw;
  } */
  .img .img_1 {
    height: 250px;
    width: 250px;
  }
  .img .img_2 {
    height: 220px;
    width: 200px;
  }
}
