.slide {
  background-color: #edeff1;
  padding: 27px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  height: 500px;
  width: 100%;
  max-width: 300px;
}

.wrapper h4 {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  margin: 10px 0;
}
.wrapper a {
  color: var(--dark-color);
  font-weight: 600;
}

.slide_1 {
  background-color: #f2f0ed;
  padding: 27px;
  border-radius: 12px;
  display: flex;
  align-items: start;
  cursor: pointer;
  max-width: 590px;
  height: 500px;
}
.slide_1 p {
  font-size: 15px;
  margin-bottom: 10px;
}
.slide_1 .slide_text {
  align-self: center;
}
.wrapper span {
  background-color: var(--hover-color);
  font-size: small;
  padding: 4px 8px;
  font-weight: 500;
  letter-spacing: 3px;
}
.img {
  align-self: center;
}
