.search {
  display: flex;
  margin-top:16px;
}
.search input {
  height: 50px;
  width: 400px;
  padding: 8px;
  border: 1px solid #767676;
 
  font-size: 16px;
  outline: none;
  font-weight: 600;
}
.search span {
  padding: 8px 16px;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-weight: 600;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all;
  cursor: pointer;
}
.search span:hover {
  background-color: rgb(36, 33, 33);
}
